/**********************************************************************
PAGE: index.html - Memory Match Game
**********************************************************************/
body {
	background: url(img/deepspaceedit.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #fff;
}



/********************************
HEADER
********************************/
header {
	position: relative;
	width: 1200px;
	height: 125px;
	margin: 0 auto;
}

header img {
	position: absolute;
	width: 250px;
	height: 115px;
}

#death_star {
	position: absolute;
	top: 0;
	right: 20px;
	width: 120px;
	height: 120px;
}

.fighter {
	position: relative;
	top: 0;
	left: 280px;
	width:190px;
	height: 120px;
}

#xwing {
	position: absolute;
	width:190px;
	height: 120px;
}

#red_laser {
	position: absolute;
	height: 20px;
	width: 60px;
	left: 50px;
	top: 45px;
	z-index: -1;
}

#green_laser{
	position: absolute;
    background: linear-gradient(limegreen, rgb(218, 237, 218), limegreen);
    width: 0px;
    height: 5px;
    border-radius: 10px;
    opacity: .9;
    box-shadow: 0px 0px 10px limegreen;
    right: 145px;
	top: 45px;
}

#green_laser_1 {
	position: absolute;
    background: linear-gradient(limegreen, rgb(218, 237, 218), limegreen);
    width: 0; /*50px*/
    height: 5px;
    border-radius: 10px;
    opacity: .9;
    box-shadow: 0px 0px 10px limegreen;
    right: 103px;
	top: 34px;
	transform: rotate(-30deg);
}

#green_laser_2 {
	position: absolute;
    background: linear-gradient(limegreen, rgb(218, 237, 218), limegreen);
    width: 0;/*36*/
    height: 5px;
    border-radius: 10px;
    opacity: .9;
    box-shadow: 0px 0px 10px limegreen;
    right: 112px;
	top: 48px;
	transform: rotate(8deg);
}

#green_laser_3 {
	position: absolute;
    background: linear-gradient(limegreen, rgb(218, 237, 218), limegreen);
    width: 0;/*54px*/
    height: 5px;
    border-radius: 10px;
    opacity: .9;
    box-shadow: 0px 0px 10px limegreen;
    right: 93px;
	top: 40px;
	transform: rotate(-10deg);
}

/********************************
GAME BODY
********************************/
.game {
	margin: 0 auto;
	width: 1200px;
	height: 775px;
}

.info {
	width: 200px;
	height: 775px;
	float: left;
	margin: 0;
}

.cards {
	display: inline-block;
	width: 1000px;
	height: 775px;
	margin: 0;	
}

.cards .card_front {
	transform: rotateX(180deg);
	backface-visibility: hidden;
}

.card_container {
	display: inline-block;
	border: 1px solid;
	width: 150px;
	height: 220px;
	margin: 5px;
	border: none;
}

.card_container img {
	position: absolute;
}
