/**********************************************************************
PAGE: index.html - Memory Match Game
**********************************************************************/
body {
    background: url(img/deepspaceedit.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    color: #fff020;
    overflow: hidden;
    height: 100vh;
    position: relative;
}

#xwing_final {
    position: absolute;
    z-index: 100;
    width: 50px;
    height: 50px;
    right: 35px;
    top: 15px;

}

/********************************
HEADER
********************************/
header {
    position: relative;
    width: 1200px;
    height: 125px;
    margin: 0 auto;
}

header img {
    position: absolute;
    width: 250px;
    height: 115px;
}

#death_star {
    position: absolute;
    top: 0;
    right: 20px;
    width: 120px;
    height: 120px;
}

.fighter {
    position: relative;
    top: 0;
    left: 280px;
    width: 190px;
    height: 120px;
}

#xwing {
    position: absolute;
    width: 190px;
    height: 120px;
}

#red_laser {
    position: absolute;
    height: 20px;
    width: 60px;
    left: 50px;
    top: 45px;
    z-index: -1;
}

#green_laser {
    position: absolute;
    background: linear-gradient(limegreen, rgb(218, 237, 218), limegreen);
    width: 0px;
    height: 5px;
    border-radius: 10px;
    opacity: .9;
    box-shadow: 0px 0px 10px limegreen;
    right: 145px;
    top: 45px;
}

#green_laser_1 {
    position: absolute;
    background: linear-gradient(limegreen, rgb(218, 237, 218), limegreen);
    width: 0; /*50px*/
    height: 5px;
    border-radius: 10px;
    opacity: .9;
    box-shadow: 0px 0px 10px limegreen;
    right: 103px;
    top: 34px;
    transform: rotate(-30deg);
}

#green_laser_2 {
    position: absolute;
    background: linear-gradient(limegreen, rgb(218, 237, 218), limegreen);
    width: 0; /*36*/
    height: 5px;
    border-radius: 10px;
    opacity: .9;
    box-shadow: 0px 0px 10px limegreen;
    right: 112px;
    top: 48px;
    transform: rotate(8deg);
}

#green_laser_3 {
    position: absolute;
    background: linear-gradient(limegreen, rgb(218, 237, 218), limegreen);
    width: 0; /*54px*/
    height: 5px;
    border-radius: 10px;
    opacity: .9;
    box-shadow: 0px 0px 10px limegreen;
    right: 93px;
    top: 40px;
    transform: rotate(-10deg);
}

/********************************
GAME BODY
********************************/
.game {
    margin: 0 auto;
    width: 1200px;
    height: 775px;
}

.info {
    position: relative;
    width: 200px;
    height: 692px;
    float: left;
    margin-top: 8px;
    border-radius: 5px;
    background: rgba(0, 0, 0, .2);
    box-shadow: 0px 0px 10px #fff inset;
}

#mood {
    width: 180px;
    height: 100px;
    cursor: pointer;
    -webkit-animation: flash .5s linear infinite;
    -moz-animation: flash .5s linear infinite;
    -ms-animation: flash .5s linear infinite;
    -o-animation: flash .5s linear infinite;
    animation: flash .5s linear infinite;
}

@keyframes flash {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


#mood img {
    position: absolute;
    width: 60%;
    height: auto;
    bottom: 25px;
    left: 37px;
}

p {
    text-align: center;
    margin: 35px auto 60px auto;
    font-weight: 500;
}

p:nth-child(2), p:nth-child(4), p:nth-child(6) {
    margin-top: -35px;
    text-align: center;
    text-decoration: none;
}

p:nth-child(1) {
    margin-top: -15px;
}

p:nth-child(6) {
    margin-bottom: -25px;
}

#the_score {
    background: transparent url('img/jedi.png') no-repeat 50% 50%;
    background-size: 135px 100%;
}

#the_timer {
    background: transparent url('img/imperial.png') no-repeat 50% 50%;
    background-size: 135px 100%;
}

#the_accuracy {
    background: transparent url('img/rebel.png') no-repeat 50% 50%;
    background-size: 135px 100%;
}

#reset {
    position: relative;
    margin: 20px auto 0 auto;
    width: 180px;
    height: 100px;
    cursor: pointer;
}

#reset img {
    width: 100%;
}

.reset_flash {
    cursor: pointer;
    -webkit-animation: reset_flash .5s linear infinite;
    -moz-animation: reset_flash .5s linear infinite;
    -ms-animation: reset_flash .5s linear infinite;
    -o-animation: reset_flash .5s linear infinite;
    animation: reset_flash .5s linear infinite;
}

@keyframes reset_flash {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.cards {
    position: relative;
    display: inline-block;
    width: 1000px;
    height: 775px;
    margin: 0;
}

.cards .card_front {
    transform: rotateX(180deg);
    backface-visibility: hidden;
}

.card_container {
    display: inline-block;
    width: 150px;
    height: 220px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

.card_container img {
    position: absolute;
}

#end_credits {
    position: relative;
    margin-left: -150px;
    bottom: -200px;
    width: 2500px;
    -webkit-transform: rotateX(55deg);
    -moz-transform: rotateX(55deg);
    -ms-transform: rotateX(55deg);
    -o-transform: rotateX(55deg);
    transform: rotateX(55deg);
}


#darth_jet {
    position: absolute;
    top: -900px;
    left: -800px;
    z-index: 100;
    width: 900px;
    height: 800px;
}

#p {
    display: none;
    font-weight: 700;
}

.titles {
    position: absolute;
    width: 12em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -6em;
    font-size: 350%;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);
}

.titles::after {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
    pointer-events: none;
}

.titlecontent {
    position: absolute;
    top: 100%;
    animation: scroll 150s linear 1s infinite;
}

@keyframes scroll {
    0% { top: 100%; }
    100% { top: -170%; }
}