/**********************************************************************
PAGE: index.html - Memory Match Game
**********************************************************************/
body {
	background: url(img/deepspaceedit.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
/********************************
HEADER
********************************/
header {
	position: relative;
	width: 1200px;
	height: 125px;
	border: 1px solid;
	margin: 0 auto;
}

header img {
	position: absolute;
	width: 250px;
	height: 115px;
}

#death_star {
	position: absolute;
	top: 0;
	right: 20px;
	width: 120px;
	height: 120px;
}

.fighter {
	position: relative;
	top: 0;
	left: 280px;
	width:190px;
	height: 120px;
}

#xwing {
	position: absolute;
	width:190px;
	height: 120px;
}

#red_laser {
	position: absolute;
	height: 20px;
	width: 60px;
	left: 50px;
	top: 45px;
	z-index: -1;
}

#green_laser {
	position: absolute;
	height: 20px;
	width: 60px;
	right: 25px;
	top: 45px;
	z-index: -1;
}

/********************************
GAME BODY
********************************/
.game {
	margin: 0 auto;
	width: 1200px;
	height: 775px;
}

.info {
	width: 200px;
	height: 775px;
	float: left;
	margin: 0;
}

.cards {
	display: inline-block;
	width: 1000px;
	height: 775px;
	margin: 0;	
}

.card_container {
	display: inline-block;
	border: 1px solid;
	width: 150px;
	height: 220px;
	margin: 5px;
	border: none;
}

.card_container img {
	position: absolute;
}
